/* .nosotros{
    
} */

.nosotros__info{
    display: block;
    margin: auto;    
    width: 100%;
    background-color: rgb(234, 121, 121);
}

.nosotros__info--titulo{
    padding: 25px 0 25px 0;
    text-align: left;
    text-indent: 50px;
}

.nosotros__mision{
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-bottom: 25px;
}

.nosotros__mision--mision{
    text-align: left;
    padding: 15px;
}

.nosotros__vision{
    border-top: 1px solid black;
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-bottom: 25px;
}

.nosotros__vision--vision{
    text-align: left;
    padding: 15px;
}